extends layout

block layout-content
    div.View.UserView
        h1.Banner Howdy, #{userProfile.nickname}!
        div.Message
          div.Title
            h3 making us the best
            h1 teamate profile
            pre.Details=JSON.stringify(userProfile.nickname, null, 2)
        div.NavButtons
            a(href="/logout")
                div.NavButton Log out